extends layout
block content
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/user-script.js")
    script(src="/javascripts/stat-script.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/main.js")
    script(type='text/javascript').
      $(document).ready(function(){
        $("ul").filter('.nav.navbar-nav').append('<li><a href="/codeshared">View Shared Codes</li>');
        if ("#{user.role}"=="adminteacher")  
         $("ul").filter('.nav.navbar-nav').append('<li><a href="/students">View Assignments</li>');
         $("ul").filter('.nav.navbar-nav').append('<li><a href="/viewstudentstat/runPerProblems/AllRecords">View Students Stats</li>');
        
        createFiles("#{files}");
         setInterval(function() { 
            saveJavaIDE("#{user.email}");
            }, 1000);
            
        });
    div.container
      div(class="row")
        div(class="col-sm-3 col-md-2 sidebar")
          ul(class="nav nav-sidebar")
              li 
                 h5(class="text-success") Welcome #{user.name}
              if (user.role=="adminteacher")
                 li
                   h5(class="text-danger")  Currently connected
                 li 
                   h5(class="text-success",id="connections",style="margin-left:20px" )
                 li
                  a(href="/newproblem")  Add new Homework
                 li
                  a(href="/newexcersise") Add new Class Exercise
                 li 
                  a(href="/addTA") Add new TA
               li 
                 a(href="/logout") Not you logout

        div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
          h3.
               JAVA IDE
          if (uploaded !=undefined && uploaded=="NO")
           div(class="alert alert-warning") File size is more than the file size limit, or you did not upload a file yet.   
          else if (uploaded !=undefined && uploaded=="Yes")
           div(class="alert alert-success") File was uploaded successfuly.   
          table
                  tr
                    
                    td
                      label Class Name
                      input(class="span2",name="cn",type="Text",id="cn", placeholder="Please enter the class name.",style="margin-left:5px")
                      select(id="selectTheme",style="margin-left:5px")
                        option choose a theme
                      button(onClick='run()',class="btn btn-primary btn-sm ",style="margin-left:5px") Compile and Run
                      a(href="/download" ,class="btn btn-primary btn-sm",id="a",style="margin-left:5px") Download
                       
                  tr
                    td
                      div(name="code", rows=20,cols=100 ,id="editor",style="border:thick solid #000000") #{code}
                      input(name="code2",type="hidden",id="code2")
                      input(id="theme",value="#{theme}",type="hidden") 
                   
                  tr
                    td
                       div(class="tabbable")
                        ul(class="nav nav-tabs" id="tabs")
                          li(class="active")
                            a(href="#stdout",data-toggle="tab") Stdout
                          li
                            a(href="#stdIn",data-toggle="tab") Stdin
                          li 
                            a(href="#fileupload",data-toggle="tab") File Uploader
                        div(class="tab-content")
                          textarea(class="tab-pane active",id="stdout",name="result",readonly="readonly",style="margin-left:2px;font-family:monospace;") #{result}
                          textarea(class="tab-pane", id="stdIn",name="stdINN",type="Text", placeholder="Please enter your input to the program",style="margin-left:2px;font-family:monospace;")
                          div(class="tab-pane",id="fileupload",name="fileupload")
                              form(action="/upload" enctype="multipart/form-data" method="post",role="form",class="form-horizontal") 
                                input(type="file",name="file",class="form-control",id="file")
                                input(type="submit", value="Upload",class="btn btn-primary form-control")
                              hr
                              div(id="files",name="files")

              script.
                var select = document.getElementById("selectTheme");
                var options = ["textmate", "eclipse", "monokai", "twilight", "clouds"];
                for(var i = 0; i < options.length; i++) {
                  var opt = options[i];
                  var el = document.createElement("option");
                  el.textContent = opt;
                  el.value = opt;
                  select.appendChild(el);
                }
                   
                   
                  $('input[name=cn]').on("change paste", function() {
                           
                            
                         
                        });

                var editor = ace.edit("editor")
                editor.getSession().setTabSize(2)
                //alert(theme.value)
                var theme = document.getElementById("theme");
                 if (theme.value !=null && theme.value !=undefined && theme.value!="Choose a theme" && theme.value !="undefined")
                  {
                    editor.setTheme("ace/theme/"+theme.value);
                    select.value=theme.value;
                    saveTheme(theme.value);

                  }
                 else
                  {
                    editor.setTheme("ace/theme/textmate");
                    select.value="textmate";
                    saveTheme("textmate");

                  } 
                saveMode("java");
                editor.getSession().setMode("ace/mode/java")
                document.querySelector('input[name=code2]').value=editor.getValue()
                editor.setFontSize(15);
                select.addEventListener('change', function() {
                    editor.setTheme("ace/theme/"+this.value)
                    saveTheme(this.value);
                 });
                editor.getSession().on('change', function(e) {
                  document.querySelector('input[name=code2]').value=editor.getValue()
                  var cn=$("input[name=cn]").val()
                  var code=editor.getValue()
                  var a=document.getElementById("a")
                 
                })