html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='copyright', content='Copyright (c) 2013 ALT-F1, We believe in the projects we work on™')
    link(rel='shortcut icon', href='/bootstrap-3.0.0/assets/ico/favicon.png')
    title Spinoza
    link(href='/bootstrap-3.0.0/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/bootstrap-3.0.0/examples/starter-template/starter-template.css', rel='stylesheet')
    script(src='/bootstrap-3.0.0/assets/js/html5shiv.js')
    script(src='/bootstrap-3.0.0/assets/js/respond.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/jquery.datetimepicker.css")
    link(href='http://fonts.googleapis.com/css?family=Bitter', rel='stylesheet')   
    script(src='/javascripts/src-noconflict/ace.js')
    script(src='/javascripts/jquery.xdomainrequest.min.js')
    script(src='/javascripts/jQuery.XDomainRequest.js')
    script(src='/bootstrap-3.0.0/assets/js/jquery.js').
    script(src='/bootstrap-3.0.0/dist/js/bootstrap.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/user-script.js")
    script(src="/javascripts/stat-script.js")
    script(src="/javascripts/main.js")
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/profile') Spinoza
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                       
                       
                        
        div.container
            div(class="row")
                div(class="col-sm-3 col-md-2 sidebar")
                  ul(class="nav nav-sidebar")
                    li 
                        h5(class="text-success") Welcome #{user.name}
                    if (user.role=="adminteacher")
                        li
                            h5(class="text-danger")  Currently connected
                        li 
                            h5(class="text-success",id="connections",style="margin-left:20px" )
                        li
                            a(href='/joincreateclass') Join/Create Class
                   
                    li 
                        a(href="/logout") Not you logout

                div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
                    if (title !="Edit the class")
                        h3 Join classes
                            form(name="joinClass",method="post",action="/joinClass" , role="form",class="form-horizontal")
                                table(class="table table-striped table-bordered table-condensed")
                                    tr
                                        td
                                            label Class Pin #
                                        td
                                          
                                            input(name="cpin",type="Text" ,class="form-control", placeholder="Please enter the Class Pin#.",value=" ")
                            
                                    tr
                                        td

                                        td
                                            button#btnSubmit(type="submit",   style='width: 200px; height: 50px;',class="btn btn-primary btn-lg") Join
                    h3 #{title}             
                        form(name="addnewClass",method="post",action="/addnewClass" , role="form",class="form-horizontal")
                            table(class="table table-striped table-bordered table-condensed")
                                tr
                                    td
                                        label Class Name

                                    if (class1 != undefined && class1.cname!=undefined)
                                        td
                                            input(name="cname",type="Text" ,class="form-control", placeholder="Please enter the class name.",value="#{class1.cname}")
                                            input(name="classId",type="hidden",value="#{class1._id}")
                                    else
                                        td
                                            input(name="cname",type="Text" ,class="form-control", placeholder="Please enter the class name.",value=" ")

                                tr
                                    td
                                        label Class Code
                                    if (class1 != undefined && class1.ccode!=undefined)
                                        td
                                            input(name="ccode",type="Text" ,class="form-control", placeholder="Please enter the class code.",value="#{class1.ccode}")
                                    else
                                        td
                                            input(name="ccode",type="Text" ,class="form-control", placeholder="Please enter the class code.",value="")
                                tr
                                    td
                                        label Class Semester
                                    if (class1 != undefined && class1.cSemester!=undefined)
                                        td
                                            input(name="cSemester",type="Text" ,class="form-control", placeholder="Please enter the class semester.",value="#{class1.cSemester} ")
                                    else
                                        td
                                            input(name="cSemester",type="Text" ,class="form-control", placeholder="Please enter the class semester.",value=" ")
                                tr
                                    td
                                        label Restrict users email of this class to this domain name (leave it blank if you want any google email to use your class)
                                    if (class1 != undefined && class1.emailR!=undefined)
                                        td
                                            input(name="restrictEmail",type="Text" ,class="form-control", placeholder="Please enter the domain name",value="#{class1.emailR}")
                                    else
                                        td
                                            input(name="restrictEmail",type="Text" ,class="form-control", placeholder="Please enter the domain name",value="")

                                tr
                                    td

                                    td
                                        button#btnSubmit(type="submit",   style='width: 200px; height: 50px;',class="btn btn-primary btn-lg") Save
                                    

                                


                