extends layout
block content
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/user-script.js")
  script(src="/javascripts/stat-script.js")
  script(type='text/javascript').
     $(document).ready(function(){
      $("ul").filter('.nav.navbar-nav').append('<li><a href="/codeshared">View Shared Codes</li>');
      if ("#{user.role}"=="adminteacher")  
          $("ul").filter('.nav.navbar-nav').append('<li><a href="/students">View Assignments</li>');
          $("ul").filter('.nav.navbar-nav').append('<li><a href="/viewstudentstat/runPerProblems/AllRecords">View Students Stats</li>');
          
      });
  div.container
     div(class="row")
          div(class="col-sm-3 col-md-2 sidebar")
              ul(class="nav nav-sidebar")
                li 
                    h5(class="text-success") Welcome #{user.name}
                li
                   h5(class="text-danger")  Currently connected
                li 
                   h5(class="text-success",id="connections",style="margin-left:20px" )
                li
                  a(href="/newproblem")  Add new Homework
                li
                  a(href="/newexcersise") Add new Class Exercise
                li 
                  a(href="/addTA") Add new TA
                li 
                  a(href="/logout") Not you logout
          div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
            h3.
               Submission List
            p= "There are " + resultlength +" different solutions"
           
            Table(class="table table-striped table-bordered table-condensed")
               tr
                 td Solution # 
                 td Student Name
               if(keyresult !=undefined)
                each i , r in keyresult 
                 
                 tr 
                     td 
                        a(href="/solutions2/#{id}/#{i}")=  "Solution " + (r+1) 
                     td  
                        p= result[i]
                     td 
                        p= students[i]
               
               each c , i2 in compilererrors

                  tr(class ="danger")
                    td
                       if (keyresult!=undefined)
                         a(href="/problems/javaide/#{c.pid}/#{c.useremail}")= " solution" + (keyresult.length+i2+1)
                       else
                         a(href="/problems/javaide/#{c.pid}/#{c.useremail}")= " solution" + (i2+1) 
                    td 
                       p= 1
                    td 
                       p=c.username
